.menuContainer {
  background: #fff;
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.menuItem {
  list-style: none;
}

.menuLink {
  text-decoration: none;
  color: #686AAC;
  font-size: 1.5rem;
}

@media(max-width: 765px) {
  .menuContainer {
    disply: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
